.highlightCore, .highlightExtra, .highlightReplaced, .highlightMgmt, .highlightShutUp, .highlightHooray, .highlightFallacy-first, .highlightFallacy-later {
    font-weight: bold;
    padding: .2em .5em;
    border: 1px solid #CCC;
    border-radius: 8px;
}

.highlightCore {
    background-color: rgb(255,91,87);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255,91,87)), to(rgb(255,130,127)));
}

.highlightExtra {
    background-color: rgb(255,187,186);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255,187,186)), to(rgb(255,209,208)));
}

.highlightReplaced {
    background-color: rgb(201,231,200);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(201,231,200)), to(rgb(222,255,221)));
}

.highlightMgmt {
    background-color: #C0C0C0; /* rgb(215,215,215);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(204,136,135)), to(rgb(225,225,225))); */
}

.highlightShutUp {
    background-color: rgb(255,195,0);
}

.highlightHooray {
    background-color: rgb(226,253,227);
}

/* .highlightFallacy-first:before {
    content:"";
    float:left;
    width:44px; height:44px;
    margin:0 6px 0 0;
    padding: 0;
    background: url('http://yourlogicalfallacyis.com/assets/icons.png') -0px 0;
} */

img.highlightFallacyImg {
    float:left;
    width:44px; height:44px;
    margin:0 6px 0 0;
    padding: 0;
    background-image: url('http://yourlogicalfallacyis.com/assets/icons.png');
    /* background-position: -88px 0; */
}

.highlightFallacy-first {
    font-weight: bold;
    padding: .2em .5em;
    /* border: 1px solid rgb(115,60,133); */
    border: 1px solid #999;
    border-radius: 0;
    /* background-color: rgb(240,240,240); */
    /* background: -webkit-linear-gradient(1 yellow, 2 yellow 50%, 3 red 50%, 4 red); */
    background: -webkit-linear-gradient( 45deg, #E3D3F2, #E3D3F2 50%, #D5C3E6 50%, #D5C3E6);
    /* background: -webkit-linear-gradient( 45deg, #EAEAEA, #EAEAEA 50%, #F9F9F9 50%, #F9F9F9); */
    background-size: 12px;
}

.highlightFallacy-later {
    font-weight: bold;
    padding: .2em .5em;
    /* border: 1px solid rgb(115,60,133); */
    border: 1px solid #999;
    border-radius: 0;
    /* background-color: rgb(240,240,240); */
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(yellow), color-stop(0.5, yellow), color-stop(0.5, red), to(red)); */
    /* background: -webkit-linear-gradient(blue, yellow 50%, red 50%, red); */
    /* background: -webkit-linear-gradient( 45deg, #EAEAEA, #EAEAEA 50%, #F9F9F9 50%, #F9F9F9); */
    background: -webkit-linear-gradient( 45deg, #E3D3F2, #E3D3F2 50%, #D5C3E6 50%, #D5C3E6);
    background-size: 12px;
}

/**********/

.highlightCore_ul, .highlightExtra_ul, .highlightReplaced_ul, .highlightMgmt_ul, .highlightShutUp_ul, .highlightHooray_ul {
    font-weight: bold;
    border-bottom: 2px solid;
}

.highlightCore_ul {
    border-bottom-color: rgb(255,91,87);
}

.highlightExtra_ul {
    border-bottom-color: rgb(255,187,186);
}

.highlightReplaced_ul {
    border-bottom-color: rgb(201,231,200);
}

.highlightMgmt_ul {
    border-bottom-color: #C0C0C0; /* rgb(204,136,135); */
}

.highlightShutUp_ul {
    border-bottom-color: rgb(255,195,0);
}

.highlightHooray_ul {
    border-bottom-color: rgb(226,253,227);
}

/**********/

.blob {
    border-radius: 16px;
    background-color: rgb(128,151,189);
    color: white;
    font-weight: bold;
    font-style: normal;
    margin: 0 0 0 6px;
    padding: 2px 5px;
    font-family: tahoma;
    font-size: 11px;
}