.highlightCore, .highlightExtra, .highlightReplaced {
    padding: 2px 3px;
}

.highlightCore, .highlightExtra {
    font-weight: bold;
    border: 1px dotted grey;
}

.highlightCore {
    background-color: #FFA2A1;
}

.highlightExtra {
    background-color: #FFE4E4;
}

.highlightReplaced {
    /* font-weight: bold; */
    background-color: #DFF2BF;
    border: 1px dotted #4F8A10;
}